@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

:root {
  --title--color: #311e17;
  --main--bg: #fcf8f5;
  --card--btn--border: #952c0c;
  --checkout--btn: #952c0c;
  --card--btn--txt: #311e17;
  --checkout--title: #952c0c;
  --checkout--pricing: #311e17;
}
* {
  box-sizing: border-box;
  margin: 0px 0px;
  padding: 0px 0px;
}

body {
  /* width: auto;
  height: auto; */
  width: 100vw;
  height: 100vh;
  background: var(--main--bg);
  display: flex;
  padding: 100px 25px;
}

.confirmation--modal {
  width: 100%;
  height: 684px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute; /* or fixed */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;

  .modal {
    width: 593px;
    height: 100%;
    background: white;

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    transition: all 0.5s ease-in;
    animation-fill-mode: forwards;
    animation-name: img-start;
    animation-duration: 1.8s;
    cursor: pointer;
    border: 2px solid black;
  }
}

.blur {
  filter: blur(5px);
  transition: 1s ease;
  pointer-events: none;
  user-select: none;
}

section {
  width: 100%;
  height: 1180px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  /* display: none; */

  .main {
    background-color: transparent;
    flex: 1;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 34px;
    .title {
      font-family: "Red Hat Text", sans-serif;
      width: 255px;
      height: 60px;
      font-size: 36px;
      color: var(--title--color);
      padding-left: 48px;
      padding-bottom: 10px;
    }
    .card--container {
      background-color: transparent;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      row-gap: 20px;
      column-gap: 10px;
      justify-content: flex-end;
      .card {
        background-color: transparent;
        width: 30%;
        height: 355px;
        margin: 0px 5px;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;

        &:hover {
          transform: scale(1.0001);
          transition: all 1s ease;
          border-radius: 0px;
          border-top-left-radius: 12px;
          border-top-right-radius: 12px;
        }
        &:hover .def p {
          color: var(--checkout--title);
          font-weight: 500;
          opacity: 1;
        }
        &:hover .title p {
          color: var(--checkout--title);
        }
        &:hover .pricing p {
          color: var(--checkout--title);
        }

        .card--image {
          background: transparent;
          width: 100%;
          height: 255px;
          border-radius: 12px;
          transition: all 0.3s ease-in;
          animation-fill-mode: forwards;
          animation-name: img-start;
          animation-duration: 1.5s;
          cursor: pointer;
        }

        .btn--controller {
          width: 159px;
          height: 44px;
          border-radius: 100px;
          border: 1.5px solid var(--card--btn--border);
          position: absolute; /* or fixed */
          top: 70%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-family: "Poppins", sans-serif;
          font-size: 16px;
          color: var(--card--btn--txt);
          font-weight: 500;
          background-color: white;
          cursor: default;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          transition: all 0.25s ease-in;
          opacity: 0;

          button {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 2px solid white;
            background-color: transparent;
            color: white;
            font-family: "Poppins", sans-serif;
            cursor: pointer;

            opacity: 0;
          }
          .counter {
            font: "Poppins", sans-serif;
            font-size: 14px;
            color: var(--card--btn--txt);
            font-weight: 400;
            color: white;
            opacity: 0;
          }

          &:hover button {
            opacity: 1;
          }

          &:hover .counter {
            opacity: 1;
          }

          &:hover {
            opacity: 1;
            background-color: var(--checkout--btn);
          }
        }
        .card--info {
          width: 100%;
          background-color: transparent;
          height: 60px;
          position: absolute;
          bottom: 5%;
          display: flex;
          flex-direction: column;

          padding-left: 10px;

          .def {
            font-family: "Red Hat Text", sans-serif;
            font-size: 14px;
            color: var(--title--color);
            opacity: 0.8;
          }
          .title {
            font-family: "Red Hat Text", sans-serif;
            font-size: 18px;
            color: var(--title--color);
            font-weight: 500;
            padding-left: 0;
          }
          .pricing {
            font-family: "Red Hat Text", sans-serif;
            font-size: 16px;
            color: var(--checkout--btn);
            font-weight: bold;
            padding-bottom: 2px;
          }
        }
      }
    }
  }
  .checkout {
    width: 381px;
    min-height: 200px;
    max-height: 650px;
    background-color: transparent;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    overflow: hidden;
    position: relative;

    .title {
      background-color: transparent;
      width: 200px;
      height: auto;
      font-size: 20px;
      margin-left: 20px;
      padding-top: 10px;
      margin-top: 10px;
      font-family: "Red Hat Text", sans-serif;
      color: var(--checkout--title);
      font-weight: 500;
    }
    .total {
      height: 100px;
      width: 100%;
      display: flex;
      /* flex-direction: row; */
      margin-bottom: 20px;
      position: absolute;
      bottom: 20%;
      padding: 0px 10px;
      p {
        display: flex;
        justify-content: space-between;

        .normal--txt {
          font-family: "Red Hat Text", sans-serif;
          font-size: 20px;
          font-weight: bold;
        }
        .price--txt {
          font-family: "Red Hat Text", sans-serif;
          font-size: 20px;
          font-weight: bold;
        }
      }
    }
    .footer--items {
      /* display: none; */
      background-color: white;
      height: 128px;
      width: 100%;
      border: none;
      position: absolute; /* or fixed */
      bottom: 0%;
      left: 50%;
      transform: translate(-50%, -20%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 22px;

      .carbon--info {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: wheat;
        width: 336px;
        border: none;
        border-radius: 20px;
        height: 53px;
      }
      .checkout--pay {
        background-color: var(--checkout--btn);
        width: 336px;
        border: none;
        border-radius: 100px;
        height: 53px;
        color: white;
      }
    }

    .cart {
      width: 100%;
      /* border-top: 0.4px solid gray; */
      max-height: 400px;
      display: flex;
      flex-direction: column;
      /* gap: 10px; */
      padding: 0px 20px;
      overflow-y: auto;
      background-color: transparent;
      .empty--msg {
        width: 100%;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Poppins", sans-serif;
        font-size: 20px;
        color: var(--checkout--title);
        font-weight: 500;
        text-align: center;
        display: flex;
        flex-direction: column;

        img {
        }
        p {
          font-size: 16px;
          /* width: 100%; */
          text-align: center;
          color: #95827e;
        }
      }

      .content {
        background-color: transparent;
        height: 45px;
        width: 100%;
        padding-bottom: 10px;
        border-bottom: 0.4px solid gray;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-right: 20px;

        button {
          width: 20px;
          height: 20px;
          margin-top: 9px;
          /* border-radius: 50%; */
          border: none;
          background-color: transparent;
          color: lightgray;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 14px;
          font-family: "Poppins", sans-serif;
          font-weight: 700;
          padding-bottom: 1px;
        }
        .order {
          display: flex;
          flex-direction: column;
          gap: 2px;

          p:nth-child(1) {
            font-family: "Red Hat Text", sans-serif;
            font-size: 16px;
            color: black;
            font-weight: 600;
          }

          .order--price {
            display: flex;
            flex-direction: row;
            gap: 10px;

            p {
              font-size: 14px;
            }
            p:nth-child(1) {
              font-family: "Poppins", sans-serif;
              font-size: 14px;
              color: var(--checkout--btn);
              font-weight: 500;
            }
            p:nth-child(2) {
              font-family: "Poppins", sans-serif;
              font-size: 14px;
              color: var(--checkout--pricing);
              font-weight: 400;
              opacity: 0.7;
            }
            p:nth-child(3) {
              font-family: "Poppins", sans-serif;
              font-size: 14px;
              color: var(--checkout--pricing);
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}
@keyframes img-start {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  50% {
    transform: translateY(25px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
/* section::before {
} */

/*Smaller Hand-held devices(e.g iphones)*/

@media (max-width: 390px) {
  body {
    width: 100%;
    height: auto;
    overflow-y: auto;
    padding: 30px 20px;
    background-color: var(--main--bg);
    scroll-behavior: smooth;
    position: relative;
  }
  .confirmation--modal {
    display: block;
    height: 600px;
    width: 100%;
    /* background-color: black; */
    background-color: transparent;
    margin-top: 1710px;
    display: none;
    .modal {
      /* display: none; */
      border-radius: 0%;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      transition: all 0.5s ease-in;
      animation-fill-mode: forwards;
      animation-name: mobile-modal;
      animation-duration: 0.4s;
      z-index: 1;
    }
  }

  section {
    width: 100%;
    height: auto;
    background-color: transparent;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;

    .main {
      width: 100%;
      height: auto;
      background-color: transparent;
      display: flex;
      flex-direction: column;
      gap: 10px;
      border: none;
      .title {
        font-size: 24px;
        padding: 0px 0px;
        padding-left: 5px;
      }
      .card--container {
        width: 100%;
        height: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 0px 0px;

        .card {
          background-color: transparent;
          width: 325px;
          transition: all 0.5s ease-in;
          animation-fill-mode: forwards;
          animation-name: mobile-start;
          animation-duration: 1.5s;
          height: 317px;

          .btn--controller {
            opacity: 1;
            background-color: var(--card--btn--border);

            button {
              opacity: 1;
            }
            .counter {
              opacity: 1;
              color: white;
            }
          }

          .card--image {
            border-radius: 10px;
            width: 325px;
            height: 235px;
            padding: 0px 0px;
          }
          .card--info {
            margin-top: 5px;
            .def {
              font-size: 12px;
            }
            .title {
              font-size: 14px;
            }
            .pricing {
              font-size: 14px;
              font-style: italic;
            }

            &:hover .def p {
              color: var(--title--color);
              font-weight: 500;
              opacity: 1;
            }
            &:hover .title p {
              color: var(--title--color);
            }
            &:hover .pricing p {
              color: var(--checkout--btn);
            }
          }
        }
        .card:nth-child(9) {
          margin-bottom: 10px;
        }
      }
    }

    .checkout {
      background-color: transparent;
      width: 100%;
      margin-top: 40px;
      height: 600px;
      display: flex;
      flex-direction: column;
      column-gap: 20px;
      padding: 0px 0px;
      margin-bottom: 0px;
      position: relative;
      .title {
        font-size: 18px;

        span {
        }
      }
      .total {
        height: 50px;
        width: 100%;
        display: flex;
        /* flex-direction: row; */
        margin-bottom: 20px;

        p {
          display: flex;
          justify-content: space-between;

          .normal--txt {
            font-family: "Red Hat Text", sans-serif;
            font-size: 20px;
            font-weight: bold;
          }
          .price--txt {
            font-family: "Red Hat Text", sans-serif;
            font-size: 20px;
            font-weight: bold;
          }
        }
      }
      .cart {
        width: 100%;
        /* border-top: 0.4px solid gray; */
        height: 200px;
        display: flex;
        flex-direction: column;
        /* gap: 10px; */
        overflow-y: auto;
        background-color: transparent;
        padding: 0px 10px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;

        .content {
          background-color: white;
          padding-left: 10px;
          button {
            padding-bottom: 1px;
            border: none;
          }
        }

        .empty--msg {
          width: 100%;
          height: 150px;
          display: flex;
          flex-direction: column;
          column-gap: 2px;
          justify-content: center;
          align-items: center;
          margin-bottom: 10px;
          background-color: transparent;
          transition: 1s ease;

          img {
          }
          p {
            font-size: 10px;
            width: 100%;
            text-align: center;
            color: #95827e;
          }
        }
      }

      .footer--items {
        /* display: none; */
        width: 100%;
        height: 120px;
        /* background-color: hsl(0, 58%, 57%); */
        padding: 0px 0px;
        /* position: absolute; */
        /* margin-bottom: 30px; */
        .carbon--info {
          /* display: none; */
        }
        button {
        }
      }
    }
  }
}

@keyframes mobile-start {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@media (max-width: 450px) {
  body {
    width: 100%;
    height: auto;
    overflow-y: auto;
    padding: 20px 20px;
    background-color: var(--main--bg);
    scroll-behavior: smooth;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .confirmation--modal {
    display: none;
    height: 88dvh;
    width: 100%;
    position: absolute;
    bottom: 0%;
    /* background-color: black; */
    background-color: transparent;
    margin: 0px 0px;
    margin-top: 1610px;
    margin-right: 0px;

    .modal {
      /* display: none; */
      border-radius: 0%;
      border: none;
      background-color: black;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      transition: all 0.5s ease-in;
      animation-fill-mode: forwards;
      animation-name: mobile-modal;
      animation-duration: 0.4s;
      z-index: 1;
    }
  }

  section {
    width: 100%;
    height: auto;
    background-color: transparent;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;

    .main {
      width: 100%;
      height: auto;
      background-color: transparent;
      display: flex;
      flex-direction: column;
      gap: 10px;
      border: none;
      .title {
        font-size: 24px;
        padding: 0px 0px;
        padding-left: 5px;
      }
      .card--container {
        width: 100%;
        height: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 0px 0px;
        justify-content: center;
        align-items: center;

        .card {
          background-color: transparent;
          width: 325px;
          transition: all 0.5s ease-in;
          animation-fill-mode: forwards;
          animation-name: mobile-start;
          animation-duration: 1.5s;
          height: 317px;

          .btn--controller {
            opacity: 1;
            background-color: var(--card--btn--border);

            button {
              opacity: 1;
            }
            .counter {
              opacity: 1;
              color: white;
            }
          }

          .card--image {
            border-radius: 10px;
            width: 325px;
            height: 235px;
            padding: 0px 0px;
          }
          .card--info {
            margin-top: 5px;
            .def {
              font-size: 12px;
            }
            .title {
              font-size: 14px;
            }
            .pricing {
              font-size: 14px;
              font-style: italic;
            }

            &:hover .def p {
              color: var(--title--color);
              font-weight: 500;
              opacity: 1;
            }
            &:hover .title p {
              color: var(--title--color);
            }
            &:hover .pricing p {
              color: var(--checkout--btn);
            }
          }
        }
        .card:nth-child(9) {
          margin-bottom: 10px;
        }
      }
    }

    .checkout {
      background-color: #ffff;
      width: 100%;
      margin-top: 40px;
      height: 600px;
      display: flex;
      flex-direction: column;
      column-gap: 20px;
      padding: 0px 5px;
      margin-bottom: 0px;
      position: relative;
      .title {
        font-size: 18px;

        span {
        }
      }
      .total {
        height: 50px;
        width: 100%;
        display: flex;
        /* flex-direction: row; */
        margin-bottom: 20px;

        p {
          display: flex;
          justify-content: space-between;

          .normal--txt {
            font-family: "Red Hat Text", sans-serif;
            font-size: 20px;
            font-weight: bold;
          }
          .price--txt {
            font-family: "Red Hat Text", sans-serif;
            font-size: 20px;
            font-weight: bold;
          }
        }
      }
      .cart {
        width: 100%;
        /* border-top: 0.4px solid gray; */
        height: 200px;
        display: flex;
        flex-direction: column;
        /* gap: 10px; */
        overflow-y: auto;
        background-color: transparent;
        padding: 0px 10px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;

        .content {
          background-color: white;
          padding-left: 10px;
          button {
            border: none;
            padding-bottom: 1px;
          }
        }

        .empty--msg {
          width: 100%;
          height: 150px;
          display: flex;
          flex-direction: column;
          column-gap: 2px;
          justify-content: center;
          align-items: center;
          margin-bottom: 10px;
          background-color: transparent;
          transition: 1s ease;

          img {
          }
          p {
            font-size: 10px;
            width: 100%;
            text-align: center;
            color: #95827e;
          }
        }
      }

      .footer--items {
        /* display: none; */
        width: 100%;
        height: 120px;
        /* background-color: hsl(0, 58%, 57%); */
        padding: 0px 20px;
        /* position: absolute; */
        margin-bottom: 0px;
        .carbon--info {
          /* display: none; */
        }
        button {
        }
      }
    }
  }
}

@keyframes mobile-modal {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
